<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup> 
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
  </startup>
  <appSettings>
    <add key="enter_message" value="Hello." />
    <add key="market_file" value="market.csv" />
    <add key="loan_value_minimum" value="1000" />
    <add key="loan_value_maximum" value="15000" />
    <add key="loan_amount_message" value="Please enter a correct loan amount (the figure should be between £1000 and £15000 inclusive), e.g. cmd> quote.exe market.csv 1500." />
    <add key="loan_value_message" value="Please enter a correct loan amount (the figure should be between £1000 and £15000 inclusive), e.g. cmd> quote.exe market.csv 1500." />
    <add key="market_file_message" value="Please enter a correct market file, e.g. cmd> quote.exe market.csv 1500." />
    <add key="argument_message" value="Please enter a correct amount of arguments; provide [1] a market file alongside [2] a loan amount, e.g. cmd> quote.exe market.csv 1500." />
    <add key="file_message" value="Please provide a correct file path by dropping the file alongside the folder of this application or by providing the full UNC location. E.g. cmd> quote.exe market.csv 1500; or e.g. cmd> quote.exe C:\market.csv 1500;" />
    <add key="requested_amount_message" value="Requested amount: £" />
    <add key="exit_message" value="Goodbye." />
  </appSettings>
</configuration>